<!DOCTYPE html>
<html lang="zh-CN">

<head>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?25f671b37eea8d120a90aa615b288c80";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome to BAAS</title>
  <script type="module" crossorigin src="/static/index-567f94ca.js"></script>
  <link rel="stylesheet" href="/static/index-c52d1d87.css">
</head>

<body>
  <div id="app"></div>
  
</body>

</html>
